<?xml version="1.0" encoding="UTF-8"?>

<!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->

<config version="1.0" htmlParse="false">

  <!-- title of the study -->
  <item id="studyTitle">Karriereforstaaelse i et teknologisk samfunn</item>

  <!-- text-align property(left|right) -->
  <item id="textAlign">left</item>

  <!-- shuffle cards (true|false)  -->
  <item id="shuffleCards">true</item>

  <!-- login required (true|false) -->
  <item id="loginrequired">false</item>
  <!-- login with common password (leave blank if not required) -->
  <item id="loginPassword"></item>
  <!-- URL to individual login script(leave blank if not required) -->
  <item id="loginUrl"></item>
  <!-- request mode (post|get) -->
  <item id="loginUrlMethod"></item>

  <!-- activate/deactivate optional steps (true|false) -->
  <item id="showStep3">true</item>
  <item id="showStep4">true</item>
  <item id="showStep5">true</item>

  <!-- HtmlQ only: disable the in-window back button -->
  <item id="disableBackButton">true</item>

  <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
  <!-- add label: <label>[STRING]</label> -->
  <!-- add note: <note>[STRING]</note> -->
  <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
  <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
  <item id="form">
    <label>Alder*</label>
	<note>Vennligst skriv inn fødselsår (YYYY, eg. 1980).</note>
	<input type="text" required="true" maxlength="4" restricted="0-9"></input>

    <label>Kjønn*</label>
	<note>Vennligst velg kjønn.</note>
	<input type="radio" required="true">female;male</input>

    <label>ennligst svar på følgende spørsmål.</label>
	<input type="rating2" required="false" scale="Yes;No;">Jeg sorterte utsagn da jeg var rolig, og ga meg selv god tid til å lese hvert utsagn uforstyrret.</input>

    <label>Jeg sorterte ut ifra mine erfaringer, og ikke det jeg tenker er det ideelle.</label>
	<input type="checkbox" required="false">Ja;Nei;Usikker</input>

    <label>Hvilken sinnstilstand er passende for deg nå?</label>
	<input type="select" required="false">Rolig;Stresset;Annet</input>

    <label>Kommenter</label>
	<input type="textarea" required="false"></input>

    <note bg="false">All steder merket med * må besvares.</note>
  </item>

  <!-- URL for data transmission via POST/GET (leave blank if not required) -->
  <item id="submitUrl">exe.php?do=save</item>
  <!-- request mode (post|get) -->
  <item id="submitUrlMethod">post</item>

  <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
  <item id="submitMail">eliseagaj@hotmail.com</item>
 </config>